* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bangers", cursive;
  background-color: black;
}
#canvas1 {
  background: url("background.jpg");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#floating-leaves {
  background: url("background.jpg");
  position: absolute;
  top: 50%;
  left: 50%;
}
#overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  pointer-events: none;
}
#spinner {
  position: absolute;
  top: 25%;
  left: 40%;
}
#obstacles,
#bull,
#egg,
#toad,
#larva,
#toads {
  display: none;
}
